name: Build & Test Package

on:
  pull_request:

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build Binary
        run: bun run build

      - name: Upload Binary
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.os }}
          path: dist/${{ github.event.repository.name }}*
          if-no-files-found: error
