name: Build & Lint

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Lint & Format
        run: bun run lint

  build:
    name: Build on ${{ matrix.os }}
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Dependencies
        run: bun install

      - name: Build Binary
        run: bun run build

      - name: Verify Version
        working-directory: dist
        shell: bash
        run: |
          if [ "${{ runner.os }}" == "Windows" ]; then
            ./uppsyncd.exe version
          else
            ./uppsyncd version
          fi

      - name: Upload Binary
        if: github.event_name == 'pull_request'
        uses: actions/upload-artifact@v6
        with:
          name: ${{ github.event.repository.name }}-${{ matrix.os }}
          path: dist/${{ github.event.repository.name }}*
          retention-days: 1
          if-no-files-found: error
